 /* mail list */
.mail-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    justify-content: center;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%
}

 .mail-list {
    list-style: none;
    padding: 0;
    overflow: auto;
    height: 100%;
    margin-block: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* background-color: #f6f8fc; */
  }

  .mail-list.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f8fc;
  }

  .empty-mail-list {
    font-size: 2em;
    text-align: center;
  }

  .empty-mail-list span {
    font-size: 15px;
  }

  .link {
    text-decoration: underline;
    color: black;
  }

  .mail-list .mail-preview:hover {
    /* animation of transition moving out */
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }

  /* SCROOL BAR */
  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(173, 216, 230, 0.634);
    border-radius: 10px;
}