.mail-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: normal;
}

.sidebar-container {
    padding: 0;
    margin: 0;

}

.sidebar-container li {
    padding: 1em;
    margin: 0;
    list-style-type: none;
    cursor: pointer;
    background-color: #f6f8fc;
}

.sidebar-container li i {
    margin-inline-end: 1em;
}

.sidebar-container li:hover {
    background: lightblue;
}

.sidebar-container li.active {
    background: lightblue;
}
