.mail-sidebar {
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    padding: 0;
    margin: 0;
}

.sidebar-container li {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1em;
    font-size: 1.2em;
    height: .5em;
}

.sidebar-container .active {
    color: rgb(255, 255, 255);
}

.add-icon {
    padding: 1em;
    background-color: #f6f8fc;
    cursor: pointer;
    margin: 0;
    border-radius: 20%;
}

.mail-count { 
    display: contents;
    font-size: 10px;
}