.mail-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    width: 3em;
    transition: 0.7s;
}

.sidebar-container {
    padding: 0;
}

.sidebar-container li {
    padding: 1em;
    /* margin: 0; */
    cursor: pointer;
    background-color: #f6f8fc;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    border-radius: 16px;
    padding-block: 0.4em;
    margin-inline-end: 10px;
    margin: 3px;
}

.sidebar-container li i {
    margin-inline-end: 1em;
}

.sidebar-container li:hover {
    background-color: rgba(32, 33, 36, 0.059);
}

.sidebar-container li.active {
    background: lightblue;
}

.add-icon {
    padding: 1em;
    background-color: #f6f8fc;
    cursor: pointer;
    margin: 0;
    border-radius: 20%;
}

.expended-sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.mail-sidebar:hover {
    width: 8em;
    transition: 0.7s;
}
