 /* mail list */
.mail-list-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    margin-block-end: 1.5em;
    justify-content: center;
}

 .mail-list {
    list-style: none;
    padding: 0;
    overflow: auto;
  }

  .mail-list .mail-preview:hover {
    /* animation of transition moving out */
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }