.trash-note-container {
    position: relative;
    padding: 0px 30px 0px 50px;
    columns: 4 261px;
    column-gap: 10px;
    margin-top: 20px;
}

.trash-note-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}