.modal {
    position: absolute;
    right: 90%;
}

.modal-content {
    position: absolute;
    display: flex;
    z-index: 1;
}

.modal-content form {
    display: flex;
}

.note-label {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.label-delete-btn {
    display: none;
}

.note-label:hover .label-delete-btn {
    display: block;
}

.note-label-container {}