 /* .note-list {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 40px;
     gap: 20px;
 } */

 .note-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
 }

 .pinned-section-container,
 .others-section-container {
     position: relative;
     padding: 0px 19px 0px 19px;
     columns: 4 261px;
     column-gap: 10px;
 }

 .pinned-section,
 .others-section {
  padding: 10px 19px;
 }