.todo-list-container {
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.todo-checkbox-container {
    display: flex;
    align-items: center;
    gap: 4px;
}

.todo-delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 10px;
}

.todo-delete-btn:hover,
.add-todo-list-item:hover {
    background-color: rgb(242, 242, 242);
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.todo-list-content {}

.todo-list {
    display: flex;
    justify-content: space-between;
}

.todolist-input {
    border: none;
}

