 /* mail index  */

 .mail-index {
    display: flex;
    flex-direction: column;
    padding: .5em;
    overflow: hidden;
    height: calc(100vh - 4em);
 }

 .mail-container {
    display: flex;
    flex-direction: row;
 }