 /* mail index  */

 .mail-index {
    display: flex;
    flex-direction: column;
    padding: .5em;
    overflow: hidden;
    height: calc(100vh - 4em);
    color: #4d4d4d;
    background-color: #f6f8fc;
 }

 .mail-container {
    display: flex;
    flex-direction: row;
 }